<section id="home" class="hero-carousel">
  <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-overlay"></div>
        <video src="images/Logo naturaleza.mp4"  autoplay muted loop playsinline type="video/mp4" class="d-block w-100" alt="Atención médica personalizada"></video>
        <div class="carousel-caption text-start">
          <h1 class="display-5 fw-bold text-light">Atención medicina Funcional y Familiar</h1>
          <h4 class="text-light">“Ciencia, experiencia y humanidad al servicio de tu longevidad saludable.”</h4>
          <a href="#appointment" class="btn btn-lg px-3 py-2 fs-4">Agenda tu cita</a>
        </div>
      </div>

      <!-- Slide 2
      <div class="carousel-item">
        <div class="carousel-overlay"></div>
        <img src="images/logo2.jpeg" class="d-block w-100" alt="Tecnología avanzada">
        <div class="carousel-caption text-center">
          <h1 class="display-5 fw-bold">Tecnología avanzada para tu salud</h1>
          <p class="lead">Equipos de última generación para un diagnóstico preciso.</p>
          <a href="#services" class="btn btn-lg px-3 py-2">Ver servicios</a>
        </div>
      </div>

      Slide 3
      <div class="carousel-item">
        <div class="carousel-overlay"></div>
        <img src="images/logo2.jpeg" class="d-block w-100" alt="Equipo médico profesional">
        <div class="carousel-caption text-end">
          <h1 class="display-5 fw-bold">Un equipo médico comprometido</h1>
          <p class="lead">Profesionales expertos dedicados a tu bienestar.</p>
          <a href="#team" class="btn btn-lg px-3 py-2">Conócenos</a>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    -->
    </div>
  </div>
</section>
