@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.c-conditions-section {
  background-color: var(--bg);

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
}

