#contact {
  background-color: var(--bg);
}

#message {
  max-height: 200px;
  overflow-y: auto;
  resize: vertical;
}

#contact-info {
  background-color: var(--footer-bg);
  color: var(--text);
  border-radius: 10px;
}

.contact-info {
  text-align: center;
  color: var(--text);
  margin-bottom: 50px;
}

.social-container {
  background-color: var(--footer-bg);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.0rem;
  margin: 70px auto;
  width: 200px;
}

.social-card {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--footer-bg);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid var(--color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.social-card:hover {
  background-color: var(--color);
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.social-icon {
  font-size: 1.3rem;
  color: var(--color);
  transition: all 0.2s ease-in-out;
}

.social-card:hover .social-icon {
  color: white;
}

.social-tooltip {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: var(--color);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  visibility: hidden;
  transition: all 0.2s;
  white-space: nowrap;
  pointer-events: none; //EVITA INTERACCIONES CON EL MOUSE
}

.social-tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color);
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.social-card:hover .social-tooltip {
  visibility: visible;
  opacity: 1;
  top: -55px;
}

@media (max-width: 768px) {
  .social-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contact-icon {
  color: var(--contact-button-bg);
}

.contact-icon2 {
  color: var(--primary);
}
