<div class="c-contact-info-item d-flex mb-4">
  <div
    class="c-contact-info-item__icon me-4"
    [class.c-contact-info-item__icon--orange]="iconVariant === 'orange'"
    [class.c-contact-info-item__icon--blue]="iconVariant === 'blue'">
    <i [ngClass]="iconClass" class="fs-3"></i>
  </div>
  <div class="c-contact-info-item__body">
    <h4 class="c-contact-info-item__title h5 mb-1">{{ title }}</h4>
    <div class="c-contact-info-item__content">
      <ng-content></ng-content>
    </div>
  </div>
</div>

